# Arduino
*.hex
build/

# C# / Visual Studio
bin/
obj/
*.user
.vs/
**/publish/

# Build .NET
host-app/MacroPad.Host/bin/
host-app/MacroPad.Host/obj/

# Secrets (jamais commités)
**/secrets.json
**/config.json

# Sortie Inno Setup
installer/Output/